In [14]:
import pandas as pd
import numpy as np

In [15]:
#Explicit Data

explicit_data = pd.read_csv('International students Time management data.csv')
df = pd.DataFrame(explicit_data)
df.head()

,Serial,Age,Gender,Nationality,Program,Course,English,Academic,Attendance,6,...,8,9,10,11,12,13,14,15,16,17
0,1,31-35,M,Korea,PM,Social Sciences and Humanities,60%~70%,NaN,S0,Disagree,...,Strong Agree,Neither,Agree,Neither,Disagree,Strong Disagree,Strong Agree,Neither,Disagree,Agree
1,2,26-30,M,China,PM,Science and engineering,60%~70%,50%~59%,S3,Strong Agree,...,Neither,Disagree,Agree,Neither,Disagree,Strong Disagree,Neither,Agree,Neither,Disagree
2,3,26-30,M,Kenya,PM,Business,60%~70%,NaN,S0,Disagree,...,Agree,Disagree,Agree,Agree,Disagree,Strong Disagree,Disagree,Strong Agree,Strong Agree,Disagree
3,4,21-25,M,Vietnam,PM,Law/Legal studies,60%~70%,60%~70%,S0,Disagree,...,Agree,Agree,Disagree,Agree,Neither,Neither,Neither,Neither,Disagree,Agree
4,5,21-25,M,China,PM,Business,60%~70%,50%~59%,S1,Neither,...,Neither,Neither,Disagree,Neither,Neither,Neither,Neither,Disagree,Neither,Agree

In [16]:

# Remove column Nationality, Program, English
df.drop(['Nationality', 'Program', 'English', 'Serial'], axis=1, inplace=True)

# Remove ages 31-35, >36, and <18
df = df[~df['Age'].str.contains('31-35|>36|<18')]

# Convert age range into scale
age_mapping = {'18-20': 1, '21-25': 2, '26-30': 3}
df['Age'] = df['Age'].map(age_mapping)

df.head()

,Age,Gender,Course,Academic,Attendance,6,7,8,9,10,11,12,13,14,15,16,17
1,3,M,Science and engineering,50%~59%,S3,Strong Agree,Agree,Neither,Disagree,Agree,Neither,Disagree,Strong Disagree,Neither,Agree,Neither,Disagree
2,3,M,Business,NaN,S0,Disagree,Strong Agree,Agree,Disagree,Agree,Agree,Disagree,Strong Disagree,Disagree,Strong Agree,Strong Agree,Disagree
3,2,M,Law/Legal studies,60%~70%,S0,Disagree,Disagree,Agree,Agree,Disagree,Agree,Neither,Neither,Neither,Neither,Disagree,Agree
4,2,M,Business,50%~59%,S1,Neither,Disagree,Neither,Neither,Disagree,Neither,Neither,Neither,Neither,Disagree,Neither,Agree
5,2,M,Law/Legal studies,60%~70%,S0,Agree,Neither,Agree,Strong Agree,Disagree,Disagree,Strong Agree,Agree,Strong Agree,Strong Agree,Strong Disagree,Strong Agree

In [17]:
# Create a new column 'hours_week'
df['hours_week'] = np.random.choice(['<5', '5-10', '10-15', '15-20', '>20'], size=len(df))

# Create a new column 'days_studied_week'
df['days_studied_week'] = np.random.choice(['<2', '3', '4', '5', '>5'], size=len(df))

# Create a new column 'hours_at_time'
df['hours_at_time'] = np.random.choice(['<1', '2', '3', '>4'], size=len(df))

# Create a new column 'time_day_studied'
df['time_day_studied'] = np.random.choice(['morning', 'afternoon', 'evening', 'midnight'], size=len(df))

# Display the updated DataFrame
print(df.head())

   Age Gender                   Course Academic Attendance             6  \
1    3      M  Science and engineering  50%~59%         S3  Strong Agree
2    3      M                 Business      NaN         S0      Disagree
3    2      M        Law/Legal studies  60%~70%         S0      Disagree
4    2      M                 Business  50%~59%         S1       Neither
5    2      M        Law/Legal studies  60%~70%         S0         Agree

              7        8             9        10  ...            12  \
1         Agree  Neither      Disagree     Agree  ...      Disagree
2  Strong Agree    Agree      Disagree     Agree  ...      Disagree
3      Disagree    Agree         Agree  Disagree  ...       Neither
4      Disagree  Neither       Neither  Disagree  ...       Neither
5       Neither    Agree  Strong Agree  Disagree  ...  Strong Agree

                13            14            15               16            17  \
1  Strong Disagree       Neither         Agree          Neither      Disagree
2  Strong Disagree      Disagree  Strong Agree     Strong Agree      Disagree
3          Neither       Neither       Neither         Disagree         Agree
4          Neither       Neither      Disagree          Neither         Agree
5            Agree  Strong Agree  Strong Agree  Strong Disagree  Strong Agree

  hours_week days_studied_week hours_at_time time_day_studied
1      15-20                 4            <1         midnight
2      15-20                 5            <1        afternoon
3       5-10                <2            <1        afternoon
4       5-10                <2            >4        afternoon
5      10-15                <2            <1         midnight

[5 rows x 21 columns]

In [18]:
# Specify the columns to replace values
columns_to_replace1 = ['7', '8', '10', '14', '17']
columns_to_replace2 = ['6', '9', '11', '12', '13', '14', '15', '16']

# Define the mapping of ranks
rank_mapping1 = {'Strong Disagree': 5, 'Disagree': 4, 'Neither': 3, 'Agree': 2, 'Strong Agree': 1}
rank_mapping2 = {'Strong Disagree': 1, 'Disagree': 2, 'Neither': 3, 'Agree': 4, 'Strong Agree': 5}

# Replace the values in the specified columns
df[columns_to_replace1] = df[columns_to_replace1].replace(rank_mapping1)
df[columns_to_replace2] = df[columns_to_replace2].replace(rank_mapping2)

df.head()

,Age,Gender,Course,Academic,Attendance,6,7,8,9,10,...,12,13,14,15,16,17,hours_week,days_studied_week,hours_at_time,time_day_studied
1,3,M,Science and engineering,50%~59%,S3,5.0,2,3.0,2.0,2.0,...,2.0,1,3.0,4,3.0,4.0,15-20,4,<1,midnight
2,3,M,Business,NaN,S0,2.0,1,2.0,2.0,2.0,...,2.0,1,4.0,5,5.0,4.0,15-20,5,<1,afternoon
3,2,M,Law/Legal studies,60%~70%,S0,2.0,4,2.0,4.0,4.0,...,3.0,3,3.0,3,2.0,2.0,5-10,<2,<1,afternoon
4,2,M,Business,50%~59%,S1,3.0,4,3.0,3.0,4.0,...,3.0,3,3.0,2,3.0,2.0,5-10,<2,>4,afternoon
5,2,M,Law/Legal studies,60%~70%,S0,4.0,3,2.0,5.0,4.0,...,5.0,4,1.0,5,1.0,1.0,10-15,<2,<1,midnight

In [19]:
#S0 means the most attendance, the level of stage will be upgraded by every 3-4 absence, and S4 means the least attendance
attendance_mapping = {'S0': 1, 'S1': 2, 'S2': 3, 'S3': 4, 'S4': 5}

# Map the attendance to unique fields
df['Attendance'] = df['Attendance'].map(attendance_mapping)

In [20]:
# Define the mapping of academic ranges to unique fields
academic_mapping = {'<40%': 1, '40%~49%': 2, '50%~59%': 3, '60%~70%': 4, '>70%': 5}

# Map the academic ranges to unique fields and convert to 'Int64' type
df['Academic'] = df['Academic'].map(academic_mapping).astype('Int64')

# Drop rows with NaN values in the 'Academic' column
df = df.dropna(subset=['Academic'])

#modified DataFrame
df.head()

,Age,Gender,Course,Academic,Attendance,6,7,8,9,10,...,12,13,14,15,16,17,hours_week,days_studied_week,hours_at_time,time_day_studied
1,3,M,Science and engineering,3,4.0,5.0,2,3.0,2.0,2.0,...,2.0,1,3.0,4,3.0,4.0,15-20,4,<1,midnight
3,2,M,Law/Legal studies,4,1.0,2.0,4,2.0,4.0,4.0,...,3.0,3,3.0,3,2.0,2.0,5-10,<2,<1,afternoon
4,2,M,Business,3,2.0,3.0,4,3.0,3.0,4.0,...,3.0,3,3.0,2,3.0,2.0,5-10,<2,>4,afternoon
5,2,M,Law/Legal studies,4,1.0,4.0,3,2.0,5.0,4.0,...,5.0,4,1.0,5,1.0,1.0,10-15,<2,<1,midnight
6,2,M,Art and Design,4,1.0,2.0,2,2.0,3.0,2.0,...,3.0,1,4.0,1,1.0,3.0,5-10,5,3,evening

In [21]:
# Mapping for 'hours_week'
hours_week_mapping = {'<5': 1, '5-10': 2, '10-15': 3, '15-20': 4, '>20': 5}
df['hours_week'] = df['hours_week'].map(hours_week_mapping)

# Mapping for 'days_studied_week'
days_studied_week_mapping = {'<2': 1, '3': 2, '4': 3, '5': 4, '>5': 5}
df['days_studied_week'] = df['days_studied_week'].map(days_studied_week_mapping)

# Mapping for 'hours_at_time'
hours_at_time_mapping = {'<1': 1, '2': 2, '3': 3, '>4': 4}
df['hours_at_time'] = df['hours_at_time'].map(hours_at_time_mapping)

# Mapping for 'time_day_studied'
time_day_studied_mapping = {'morning': 1, 'afternoon': 2, 'evening': 3, 'midnight': 4}
df['time_day_studied'] = df['time_day_studied'].map(time_day_studied_mapping)

# Display the updated DataFrame
print(df.head())

   Age Gender                   Course  Academic  Attendance    6  7    8  \
1    3      M  Science and engineering         3         4.0  5.0  2  3.0
3    2      M        Law/Legal studies         4         1.0  2.0  4  2.0
4    2      M                 Business         3         2.0  3.0  4  3.0
5    2      M        Law/Legal studies         4         1.0  4.0  3  2.0
6    2      M           Art and Design         4         1.0  2.0  2  2.0

     9   10  ...   12  13   14  15   16   17  hours_week  days_studied_week  \
1  2.0  2.0  ...  2.0   1  3.0   4  3.0  4.0           4                  3
3  4.0  4.0  ...  3.0   3  3.0   3  2.0  2.0           2                  1
4  3.0  4.0  ...  3.0   3  3.0   2  3.0  2.0           2                  1
5  5.0  4.0  ...  5.0   4  1.0   5  1.0  1.0           3                  1
6  3.0  2.0  ...  3.0   1  4.0   1  1.0  3.0           2                  4

   hours_at_time  time_day_studied
1              1                 4
3              1                 2
4              4                 2
5              1                 4
6              3                 3

[5 rows x 21 columns]

In [22]:
#save as final preprocessed file
df.to_csv('final_data.csv')